<p id="notice"><%= notice %></p>

<h1>Listing Interviews</h1>

<table>
    <thead>
        <tr>
            <th>Slot</th>
            <th>Type</th>
            <th>Description</th>
            <th>Remarks</th>
            <th>Student</th>
            <th>Interviewer</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @interviews.each do |interview| %>
        <tr>
            <td><%= interview.slot %></td>
            <td><%= interview.kind %></td>
            <td><%= interview.description %></td>
            <td><%= interview.remarks %></td>
            <td><%= interview.student.try(:name) %></td>
            <td><%= interview.interviewer.try(:username) %></td>
            <td><%= link_to 'Show', interview %></td>
            <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
            <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Interview', new_interview_path %>
