<p id="notice"><%= notice %></p>

<p>
    <strong>Start Slot:</strong>
    <%= @interview.start_slot.strftime("%B %e, %Y at %I:%M %p") %>
</p>

<p>
    <strong>End Slot:</strong>
    <%= @interview.end_slot.strftime("%B %e, %Y at %I:%M %p") %>
</p>

<p>
    <strong>Type:</strong>
    <%= @interview.kind %>
</p>

<p>
    <strong>Description:</strong>
    <%= @interview.description %>
</p>

<p>
    <strong>Student:</strong>
    <%= @interview.student.try(:name) %>
</p>

<p>
    <strong>User:</strong>
    <%= @interview.user_id %>
</p>

<p>
    <strong>Interviewer:</strong>
    <%= @interview.interviewer.try(:username) %>
</p>

<p>
    <strong>
        Interview_On:
    </strong>
    <%= @interview.question_category_ids %>
</p>

<% sum = 0
  if i = @interview.interview_questions.where('responce = ?', "satisfied").count
      sum+=i
  end
  if j = @interview.interview_questions.where('responce = ?', "not-satisfied").count
      j = j/2.to_f
      sum+=j
  end
%>
<p>
    <strong>
        Marks:-
    </strong>
    <b>
        <em>
            <% @interview.update(marks:sum.to_f)%>
            <%= @interview.marks %>/<%= @interview.interview_questions.count %>
        </em>
    </b>
</p>
<table>
    <thead>
        <tr>
            <th>Satisfied</th>
            <th>Not Satisfied</th>
            <th>Not Answered</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @interview.interview_questions.where('responce = ?', "satisfied").count %></td>
            <td><%= @interview.interview_questions.where('responce = ?', "not-satisfied").count %></td>
            <td><%= @interview.interview_questions.where('responce = ?', "not-answered").count %></td>
        </tr>
    </tbody>
</table>

<p>
    <strong>Remarks:</strong>
    <%= @interview.remarks %>
</p>

<h3>
    Interview Questions</h3>
<% @interview.interview_questions.all.each do |interview_question| %>
<ul>
    <li>
        <%= form_for interview_question do |f| %>
        <%= interview_question.question.try(:title)%>
        <%= f.radio_button :responce, "satisfied" %>
        Satisfied
        <%= f.radio_button :responce, "not-satisfied"  %>
        Not Satisfied
        <%= f.radio_button :responce, "not-answered" %>
        Not Answered
        <% if interview_question.responce.nil? %>
        <%= f.submit %>
        <% end %>
        <% end %>
    </li>
</ul>
<% end %>
<% if @interview.remarks.nil? %>
<%= form_for(@interview) do |f| %>
<div class="field">
    <%= f.label :remarks %><br>
    <%= f.text_area :remarks %><br>

    <%= f.submit %>
</div>
<% end %>
<% end %>

<%= link_to 'Edit', edit_interview_path(@interview) %>
|
<%= link_to 'Back', interviews_path %>
