<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @student.name %>
</p>

<p>
    <strong>Email:</strong>
    <%= @student.email %>
</p>
<h3>
    Number of Interviews:-<%= @student.interviews.count %>
</h3>
<ul>
    <% @student.interviews.each do |interview| %>
    <li>
        <%= interview.slot  %>
        ---
        <%= link_to interview.student.try(:name), interview_path(@student.interview_ids) %>
        --
        <%= interview.marks %>
    </li>
    <% end %>
</ul>
<%= link_to 'Edit', edit_student_path(@student) %>
|
<%= link_to 'Back', students_path %>
